[Unit]
Description=[Service for uxplay]

[Service]
Type=simple
StandardOutput=journal
ExecStart=/usr/bin/uxplay \
    -avdec \
    -nh \
    -m 
After=graphical.target
Restart=on-failure

[Install]
WantedBy=default.target
