[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule ".local/bin/stylepack"]
	path = .local/bin/stylepack
	url = https://github.com/refi64/stylepak.git
[submodule ".local/src/goplay"]
	path = .local/src/goplay
	url = https://github.com/openairplay/goplay2.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
